---
import Layout from '../layouts/Layout.astro';
import CopyCodeLayout from '../layouts/CopyCodeLayout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro'
import PiHole from '../components/PiHole.astro';
import Weather from '../components/Weather.astro';
---

<Layout title="HOBweb">
	<Header title='Dash'></Header>
	<main>
		<svg class="astro-a" viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
			<defs>
				<linearGradient id="gradient"  x1="100%" y1="0%" x2="30%" y2="30%">
					<stop offset="0%" stop-color="#232323" />
					<stop offset="100%" stop-color="#13151A" />
				</linearGradient>
			</defs>
			<circle cx="200" cy="200" r="200" fill="url(#gradient)" />
		</svg>
		<h1>Welcome to <span class="text-gradient">HOB</span></h1>
		<section class="mb-8">
			<h2>What is this?</h2>
			<p class="mb-8">
				This is a dashboard for my home network. It's a place to access all my local services and devices.
			</p>
			<CopyCodeLayout>
				<div class="instructions items-between">
					<c class="code-comment"># Server</p>
					<pre><code>ssh hob@home.box</code></pre>
					<p class="code-comment"># Raspberry Pi</p>
					<pre><code>ssh pi@pi.box</code></pre>
				</div>
			</CopyCodeLayout>
			<ul role="list" class="link-card-grid">
				<Card
				href="http://192.168.1.158:81"
				title="NextCloud"
				body="Local file transfer"
				backgroundImage="/nextcloud.svg"
				/>
				<Card
				href="http://192.168.1.78:32400"
				title="Plex"
				body="Media Server"
				backgroundImage="/plex.svg"
				/>
				<Card
				href="http://192.168.1.78:8112"
				title="Deluge"
				body="Torrents"
				backgroundImage="/deluge.png"
				/>
				<Card
				href="http://192.168.1.168"
				title="PersonalCloud"
				body="NAS Settings"
				backgroundImage="/seagate.svg"
				/>
				<Card
				href="http://192.168.1.1"
				title="192.168.1.1"
				body="Router Settings"
				backgroundImage="/wifi.svg"
				/>
				<Card
				href="http://pi.box/admin"
				title="PiHole"
				body="DNS server"
				backgroundImage="/pihole.png"
				/>
				<Weather />
			</ul>
		</section>
		<section class="mb-8">
			<PiHole />
		</section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1000px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 360px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.code-comment {
		color: rgba(var(--accent-light), 50%);
	}
</style>
